@import "tailwindcss";

:root {
  font-family: Georgia, "Times New Roman", serif;
  color: #55534d;
  background: #f5f2e9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 20rem;
  min-height: 100vh;
}
